* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: url("./img/background.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

main {
  padding: 4rem 2.5rem 2.5rem;
  margin: 8rem auto;
  background-color: white;
  width: 30%;
  height: 70vh;
  position: relative;
}

.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-family: Helvetica, sans-serif;
  font-size: x-large;
  font-weight: bolder;
}
.state {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #aeaaaa;
}

.city {
  color: #3b8acf;
}

.hyphen {
  border-bottom: 4px solid #d3e6f4;
  width: 1.5rem;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}
.flight {
  color: #aeaaaa;
}

.h3 {
  color: #aeaaaa;
}
.travel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 3rem;
}
.utility {
  margin-bottom: 1.5rem;
}
.thumb img {
  width: 10rem;
}

/*.thumb img {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  width: 10rem;
}*/
